<div class="top-space">
  <% if current_user %>
    <h3>Hello <strong><%= current_user.email %></strong>!</h3>
  <% else %>
    <%= link_to 'Iniciar sesión', new_user_session_path %>
  <% end %>
</div>
